.header-portfolio {
    background-color: #1a222c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-portfolio .name {
    font-size: 6.25rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.05;
}

.header-portfolio .specialty {
    font-size: 2rem;
    line-height: 0.8;
    margin-bottom: 30px;
}
.header-portfolio .container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:760px){
    .header-portfolio .container {
        width: 100vw;
    }
    .header-portfolio .name{
        font-size: 3.5rem;
    }

    .header-portfolio .specialty {
        font-size: 1.2rem;
        text-align: center;
    }
}