.header-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:980px){
    .header-portfolio {
        flex-direction: row;
        justify-content: space-between;
    }
}